@import "./components/var.scss";
@import "./components/common.scss";
@import "./components/mixins.scss";

html,
body {
    margin: 0;
    padding: 0;
    font-size: 18px;
}


.header {
    background-color: $blue;
    color: white;
    padding: 15px;


    &__logo {
        font-family: $barlow;
        font-weight: $fsboldest;
        font-size: 20px;
        color: white;


    }

    &__buttons {
        gap: 30px;


        .header__text {
            cursor: pointer;
            font-size: $barlow;
            font-weight: $fssemibold;
        }

        .header__button {
            padding: 12px;
            background-color: white;
            color: black;
            border-radius: 16px;
            cursor: pointer;
            transition: all 0.4s ease;

            &:hover {
                background: rgba(225, 225, 225, 0.4);
            }
        }
    }
}

.hero {
    color: white;

    .container {
        min-height: 80vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../assets/image-header.jpg');



        display: flex;
        flex-direction: column;
        padding: 40px;
        box-sizing: border-box;
        justify-content: start;
    }

    &__text {
        font-size: $h1;
        font-weight: $fsboldest;
        font-family: $francues;
    }
}

.adv {
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 50vw;

    }



    .text-bg-1 {
        background: url('../assets/cherry.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;

    }

    .text-bg-2 {
        background: url('../assets/orange.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
    }

    .text-bg {
        display: flex;
        flex-direction: column;

        text-align: center;
        justify-content: end !important;

        h1 {
            color: $vdarkgrayblue
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;






        &-text {
            padding: 10%;
            background-repeat: no-repeat;
            background-size: cover;


            h1 {
                font-size: $h2;
                font-weight: $fsboldest;
                font-family: $francues;
            }

            p {
                color: $vdarkgrayblue;
            }

            &-button {
                padding: 0;
                position: relative;

                // &::after {
                //     position: absolute;
                //     z-index: -1;
                //     bottom: -1px;
                //     content: '';
                //     display: block;
                //     border-radius: 16px;
                //     background-color: $yellow;
                //     width: 80px;
                //     height: 7px;
                // }

                content: '';
            }
        }





        &-img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    @include laptop {
        &__container {

            grid-template-columns: 1fr;
            grid-auto-rows: 80vh;
            // grid-auto-rows: minmax(40vh, 70vh);

        }

        &__box {

            &-4 {
                order: 4;
            }

            &-1 {
                order: 2;
            }

            &-2 {
                order: 1;
            }

            &-3 {
                order: 3;
            }

            &-5 {
                order: 5;
            }

            &-6 {
                order: 6;
            }

            text-align: center;
        }
    }
}

.rev {
    margin: 150px 0;

    h2 {
        color: $darkgrayblue;
        letter-spacing: 5px;
        font-size: $h4;
        margin: 40px 0;
        font-weight: $fsboldest;
    }

    .container {
        padding: 0 10%;
    }

    &__revs {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__box {
        padding: 20px;

        &-ava {
            border-radius: 100%;
            width: 50px;
        }

        &-title {
            font-family: $barlow;
            font-weight: $fssemibold;
            color: $darkgrayblue;
            margin: 50px 0;
        }

        &-name {
            font-weight: $fsboldest;

        }

        &-occ {
            color: $grayblue;

        }
    }

    @include laptop {
        &__revs {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
        }
    }
}

.catalog {
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 0;
        grid-auto-rows: 30vw;
    }

    &__box {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:nth-of-type(1) {
            background-image: url('../assets/image-gallery-milkbottles.jpg');
        }

        &:nth-of-type(2) {
            background-image: url('../assets/image-gallery-orange.jpg');
        }

        &:nth-of-type(3) {
            background-image: url('../assets/image-gallery-cone.jpg');
        }

        &:nth-of-type(4) {
            background-image: url('../assets/image-gallery-sugarcubes.jpg');
        }
    }


    @include laptop {
        .container {
            grid-auto-rows: 50vw;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}


.footer {
    background-color: $cyan;
    font-family: $barlow;
    color: $darkcyan;

    .container {
        padding: 50px 0;
    }



    h1 {
        font-weight: $fsboldest;
        font-size: $h3;
    }

    &__titles {
        gap: 20px;
        margin-bottom: 60px;
    }

    &__title {

        font-weight: $fssemibold;
    }

    &__socs {
        gap: 20px
    }


}